* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Work Sans", sans-serif;
  }
.div1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    height: 30px;
   

}
.div-icon{
    justify-content: space-between;
}
.img-icon{
    padding: 10px;
}
.div2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
   
    
}
.input-serch{
    padding: 5px;
    width: 450px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(248, 246, 246);
}
.menu{
    display:flex;
    align-items: center;
    


}
.li-menu{
    padding: 40px;
    color: orangered;
    cursor:pointer;
    list-style: none;
   
    
}

.link { 
   text-decoration: none;
   color: black;
   font-size: large
   

}


.all-catecory{
    background-color: rgb(232, 240, 240);
}
.div3{
    background-image: url("images/Mask.png");
    color:white;
    height: 600px;
}
.up-div{
    text-align: left;
    padding-left: 20px;
}

.b1{
    background-color: orangered;
    font-size: large;
    font-weight: bold;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    color:rgb(248, 246, 246);
}
.b2{
    background-image: url("images/Mask.png");
    font-size: large;
    font-weight: bold;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   
}
.boton{
    padding: 30px;
    padding-inline-end: 20;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   
}
.imag{
        float: right;
        
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
  .div-card{
      display: flex;
      justify-content: space-between;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
  }
 
.div-mead{
    background-image: url("images/Rectangle1.png");
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#b6{
    
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;   
    border-color: white; 
    
      
}
.div-card1{
    display:flex;
    padding: 20px;
    justify-content: space-between;
}
.div-card2{
    display:flex;
    padding-top: 75px;
    padding: 20px;
    justify-content: space-between;
    padding-bottom: 40px;
}
.foter{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    
}