
*{
    margin: 0px;
    padding: 0px;
}
#header{
    min-height: 173px;
    background-color: white;
    padding-top: 30px;
    box-sizing: border-box;
    padding-right:50px;
    padding-left:50px;
}

#header-container{
    /* background-color: blueviolet; */
    min-height: 150px;
    box-sizing: border-box;
}
.my-inputs{
    width: 500px;
    height: 40px;;
}

#header-div-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header-div-top i.far{
    margin-left: 25px;
}

#menu{
    display: none;
    font-size: 32px;
}

@media screen and (max-width:900px)
{
    #search{
        display: none;
        
    }
    #icons{
        display: none;
    }
    #menu{
        display: inline;
    }
}
