.part11img {
	width: 697px;
	height: 559px;
}
.part1Div {
	width: 1370px;
	padding-top: 104px;
	background-image: url("./assisst/part1.png");
	background-repeat: no-repeat;
}
.tableBody {
	border-collapse: collapse;
}
.btnOrange {
	width: 137px;
	height: 50px;
	background-color: orangered;
	color: white;
	font-weight: bold;
}
.btnAqua {
	width: 224px;
	height: 50px;
	background-color: transparent;
	color: white;
	font-weight: bold;
}
.center {
	text-align: center;
	align-items: center;
	align-content: center;
}
.padding {
	padding-left: 100px;
}
.btn2 {
	background-color: white;
	width: 224px;
	height: 57px;
	margin: auto;
	display: block;
	border-radius: 10px;
}
.part3Div {
	width: 1370px;
	height: 256px;
	background-image: url("./assisst/part3.png");
	background-repeat: no-repeat;
}
