.headercls {
	min-height: 173px;
	padding-top: 34px;
	background-color: white;
	box-sizing: border-box;
	padding-left: 50px;
	padding-right: 50px;
	/* This feature make problem for me when i used it */
	/* position: fixed; */
}
.searchInput {
	background-color: var(--white);
	border: 1px solid #dfdfdf;
	border-radius: 5px;
	height: 48px;
	width: 557px;
	color: #686868;
	font-family: var(--font-family-roboto);
	font-size: var(--font-size-s);
	font-weight: 300;
}

.Divparent {
	min-height: 110px;
	box-sizing: border-box;
}
.top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.top img.noti {
	margin-left: 10px;
}
.headerFooter {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
}
.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.menu h3 {
	padding-left: 40px;
}
